<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="40" style="margin-top: 30px; margin-bottom: 30px">
    <mat-card-title>Clash of Clans Player Data</mat-card-title>
    <mat-card-content *ngIf="formGroup">
      <form [formGroup]="formGroup" fxLayout="column">
        <mat-form-field>
          <input type="text" matInput formControlName="player_tag"
                 placeholder="Player Tag">
        </mat-form-field>
        <button type="button" mat-raised-button (click)="getData()">Get data</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!isLoading && cocPlayerModel" fxLayout="row wrap" fxFill fxLayoutGap="20px grid" fxLayoutAlign="center "
     style="padding-left: 10px; padding-right: 10px">

  <div fxFlex="20">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Player Data</mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap" fxFill>
          <div class="key" fxFlex="50" fxLayoutAlign="end ">Name</div>
          <div class="value" fxFlex="50" fxLayoutGap="10px">{{cocPlayerModel.name}}</div>

          <div class="key" fxFlex="50" fxLayoutAlign="end ">Tag</div>
          <div class="value" fxFlex="50" fxLayoutGap="10px">{{cocPlayerModel.tag}}</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="26">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Troops</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/3" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Level/Max Level</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Village</div>
          </div>
          <div *ngFor="let hero of cocPlayerModel.troops; let lastIndex = last">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.name}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.level}}/{{hero.maxLevel}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.village}}</div>
              </div>
            </div>
            <hr *ngIf="!lastIndex">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="26">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Heroes</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/3" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Level/Max Level</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Village</div>
          </div>
          <div *ngFor="let hero of cocPlayerModel.heroes">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.name}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.level}}/{{hero.maxLevel}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.village}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="26">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Spells</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/3" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Level/Max Level</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Village</div>
          </div>
          <div *ngFor="let spell of cocPlayerModel.heroes">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/3" fxLayoutAlign="center center">{{spell.name}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{spell.level}}/{{spell.maxLevel}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{spell.village}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Achievements</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/6" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Stars</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Village</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Value/Target</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Info</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">CompletionInfo</div>
          </div>
          <div *ngFor="let achievement of cocPlayerModel.achievements; let lastIndex = last">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.name}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.stars}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.village}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.value}}/{{achievement.target}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.info}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.completionInfo}}</div>
              </div>
            </div>
            <hr *ngIf="!lastIndex">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner
    [diameter]="100"
    mode="indeterminate">
  </mat-spinner>
</div>
