<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex="40" style="margin-top: 30px; margin-bottom: 30px">
    <mat-card-title>Clash of Clans Player Data</mat-card-title>
    <mat-card-content *ngIf="formGroup">
      <form [formGroup]="formGroup" fxLayout="column">
        <mat-form-field>
          <input type="text" matInput formControlName="player_tag"
                 placeholder="Player Tag">
          <mat-error *ngIf="playerTag.hasError('required')">Player Tag required</mat-error>
        </mat-form-field>
        <button type="button" color="primary" mat-raised-button (click)="getData()" [disabled]="formGroup.invalid">Get
          data
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!isLoading && cocPlayerModel && !backendError" fxLayout="row wrap" fxFill fxLayoutGap="20px grid"
     fxLayoutAlign="center "
     style="padding-left: 10px; padding-right: 10px">

  <div fxFlex="20">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Player Data</mat-card-title>
      <mat-card-content>
        <div fxLayout="row wrap" fxFill>

          <app-row-data [key]="'Name'" [value]="cocPlayerModel.name"></app-row-data>
          <app-row-data [key]="'Tag'" [value]="cocPlayerModel.tag"></app-row-data>
          <app-row-data [key]="'Role'" [value]="cocPlayerModel.role"></app-row-data>
          <app-row-data [key]="'Attack Wins'" [value]="cocPlayerModel.attackWins"></app-row-data>
          <app-row-data [key]="'Defense Wins'" [value]="cocPlayerModel.defenseWins"></app-row-data>
          <app-row-data [key]="'TownHall Level'" [value]="cocPlayerModel.townHallLevel"></app-row-data>
          <app-row-data [key]="'TownHall Weapon Level'" [value]="cocPlayerModel.townHallWeaponLevel"></app-row-data>
          <app-row-data [key]="'Versus Battle Wins'" [value]="cocPlayerModel.versusBattleWinCount"></app-row-data>
          <app-row-data [key]="'EXP Level'" [value]="cocPlayerModel.expLevel"></app-row-data>
          <app-row-data [key]="'Trophies'" [value]="cocPlayerModel.trophies"></app-row-data>
          <app-row-data [key]="'Best Trophies'" [value]="cocPlayerModel.bestTrophies"></app-row-data>
          <app-row-data [key]="'Donations'" [value]="cocPlayerModel.donations"></app-row-data>
          <app-row-data [key]="'Donation Received'" [value]="cocPlayerModel.donationsReceived"></app-row-data>
          <app-row-data [key]="'BuildHall Level'" [value]="cocPlayerModel.builderHallLevel"></app-row-data>
          <app-row-data [key]="'Versus Trophies'" [value]="cocPlayerModel.versusTrophies"></app-row-data>
          <app-row-data [key]="'Best Versus Trophies'" [value]="cocPlayerModel.bestVersusTrophies"></app-row-data>
          <app-row-data [key]="'War Stars'" [value]="cocPlayerModel.warStars"></app-row-data>
          <app-row-data [key]="'Versus Battle Win Count'" [value]="cocPlayerModel.versusBattleWinCount"></app-row-data>

        </div>
      </mat-card-content>
    </mat-card>


    <mat-card style="margin-top: 10px">
      <mat-card-title fxLayoutAlign="center center">Player Clan</mat-card-title>
      <mat-card-content>
        <div class="value" fxLayout="column" fxLayoutAlign="center center">
          <div *ngIf="cocPlayerModel.clan">
            <div fxLayoutAlign="center center">
              <img alt="Clan Logo" src="{{cocPlayerModel.clan.badgeUrls.medium}}"/>
            </div>
            <div fxLayout="row wrap" fxFill>
              <div class="key" fxFlex="50" fxLayoutAlign="end ">Name</div>
              <div class="value" fxFlex="50" fxLayoutGap="10px"> {{cocPlayerModel.clan.name}}</div>

              <div class="key" fxFlex="50" fxLayoutAlign="end ">Tag</div>
              <div class="value" fxFlex="50" fxLayoutGap="10px"> {{cocPlayerModel.clan.tag}}</div>

              <div class="key" fxFlex="50" fxLayoutAlign="end ">Level</div>
              <div class="value" fxFlex="50" fxLayoutGap="10px"> {{cocPlayerModel.clan.clanLevel}}</div>
            </div>
          </div>
          <div *ngIf="!cocPlayerModel.clan">
            User has no Clan
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="26">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Troops</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/3" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Level/Max Level</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Village</div>
          </div>
          <div *ngFor="let hero of cocPlayerModel.troops; let lastIndex = last">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.name}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.level}}/{{hero.maxLevel}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.village}}</div>
              </div>
            </div>
            <hr *ngIf="!lastIndex">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="26">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Heroes</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/3" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Level/Max Level</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Village</div>
          </div>
          <div *ngFor="let hero of cocPlayerModel.heroes">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.name}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.level}}/{{hero.maxLevel}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{hero.village}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="26">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Spells</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/3" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Level/Max Level</div>
            <div fxFlex="100/3" fxLayoutAlign="center center">Village</div>
          </div>
          <div *ngFor="let spell of cocPlayerModel.spells">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/3" fxLayoutAlign="center center">{{spell.name}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{spell.level}}/{{spell.maxLevel}}</div>
                <div fxFlex="100/3" fxLayoutAlign="center center">{{spell.village}}</div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100">
    <mat-card>
      <mat-card-title fxLayoutAlign="center center">Achievements</mat-card-title>
      <mat-card-content fxLayout="row wrap">
        <div class="value" fxFlex="100" fxLayoutGap="10px">
          <div fxLayout="row" style="font-weight: bold">
            <div fxFlex="100/6" fxLayoutAlign="center center">Name</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Stars</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Village</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Value/Target</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">Info</div>
            <div fxFlex="100/6" fxLayoutAlign="center center">CompletionInfo</div>
          </div>
          <div *ngFor="let achievement of cocPlayerModel.achievements; let lastIndex = last">
            <div fxLayout="column">
              <div fxLayout="row">
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.name}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.stars}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.village}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.value}}/{{achievement.target}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.info}}</div>
                <div fxFlex="100/6" fxLayoutAlign="center center">{{achievement.completionInfo}}</div>
              </div>
            </div>
            <hr *ngIf="!lastIndex">
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="isLoading" fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner
    [diameter]="100"
    mode="indeterminate">
  </mat-spinner>
</div>

<div *ngIf="!isLoading && backendError" fxLayoutAlign="center center">
  <mat-error>Clash of Clans Api Response:</mat-error>
  <mat-error>{{backendErrorText}}</mat-error>
</div>
